.nombreMarca {
  text-align: center;
  font-size: 6em;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.pieMarca{
  text-align: center;
  font-size: 1.5em !important;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.marca {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  width: 100%;
  font-size: 4em;
  margin-top: 15px;
  /*font-family: 'Crimson Text', serif;*/
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 65px;
}

.marcaMobile {
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 100%;
  font-size: 4em;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
}

.lastArticleImage{

}

#hamburgerMenu {
  display: none !important;
}

.hamburgerMenuIcon {
  display: none !important;
}

.flashMessage {
  align-self: center;
  position: absolute;
  top: 20px;
  width: 90%;
  display: inline-block;
}

.flashMessage div{
  margin: auto;
}

.flashMessage button {
  border-radius: 0;
  height: 20px;
}

.flashMessage button span {
  color: #261c3e;
}

.flashMessage strong {
  color: #261c3e;
}

.contactsDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 130px;
  right: 30px;
  z-index: 1000 !important;
}

#sidebar .inner nav {
  margin-top: 20px !important;
}

.introMobile {
  display: none !important;
}

.whatsAppIcon {
  width: 40px;
}

@media screen and (max-width: 1280px) {
  .marca {
    display: none;
  }

  #sidebar .inner nav {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 736px) {

  .introMobile {
    display: flex !important;
  }

  .introDesktop {
    display: none !important;
  }

  .hamburgerMenuIcon {
    display: block !important;
  }

  #sidebar {
    height: fit-content !important;
  }

  #hamburgerUL {
    flex-direction: column !important;
  }

  #hamburgerNav {
    width: 100% !important;
  }

  #hamburgerLI {
    width: 100% !important;
    display: inline-block !important;
    margin: 0 !important;
  }

  #hamburgerLI:nth-child(5) {
    border: 0;
  }

}
@media screen and (max-width: 450px) {
  .contactsDiv {
    bottom: 80px;
    right: 20px;
  }
}

/* INICIO ANIMACIONES*/
/*.marca {*/
/*  position: relative;*/
/*  font-weight: 300;*/
/*  font-size: 4.5em;*/
/*  color: #402d2d;*/
/*}*/

.marca .text-wrapper{
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 0.85em;
}

.marcaMobile .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 0.65em;
}

.marca .ampersand,
.marcaMobile .ampersand {
  font-weight: 600;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.marca .letters,
.marcaMobile .letters {
  display: inline-block;
  opacity: 0;
}
/* FIN INICIO ANIMACIONES*/