.nombreMarca {
  text-align: center;
  font-size: 5em;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.pieMarca{
  text-align: center;
  font-size: 1.5em !important;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.lastArticleImage{

}

#hamburgerMenu {
  display: none !important;
}

.hamburgerMenuIcon {
  display: none !important;
}

.flashMessage {
  align-self: center;
  position: absolute;
  top: 20px;
  width: 90%;
  display: inline-block;
}

.flashMessage div{
  margin: auto;
}

.flashMessage button {
  border-radius: 0;
  height: 20px;
}

.flashMessage button span {
  color: #261c3e;
}

.flashMessage strong {
  color: #261c3e;
}

.contactsDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000 !important;
}

.whatsAppIcon {
  width: 40px;
}

@media screen and (max-width: 736px) {

  .hamburgerMenuIcon {
    display: block !important;
  }

  #sidebar {
    height: fit-content !important;
  }

  #hamburgerUL {
    flex-direction: column !important;
  }

  #hamburgerNav {
    width: 100% !important;
  }

  #hamburgerLI {
    width: 100% !important;
    display: inline-block !important;
    margin: 0 !important;
  }

  #hamburgerLI:nth-child(5) {
    border: 0;
  }

}