.wygiwys {
	height: 350px;
}

#selectPickerContainer .container-select div button {
	background-color: #fff;
	color: #555555;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#selectPickerContainer .container-select div button:hover {
	background-color: #fff;
	color: #555555;
	cursor: auto;
}